.main-square {
    height: 312px;
    width: 312px;
    border: 2px solid silver;
}

.square {
    height: 100px;
    width: 100px;
    position: relative;
    display: inline-block;
    border: 2px solid silver;
    padding: 10px;
}

.red {
    background-color: red;
}

.yellow {
    background-color: yellow;
}

.purple {
    background-color: purple;
}

.blue {
    background-color: blue;
}

.black {
    background-color: black;
}

.gray {
    background-color: gray;
}

.green {
    background-color: green;
}

.orange {
    background-color: orange;
}

.pink {
    background-color: pink;
}

.circle {
    width: 45px;
    height: 45px;
    border: 2px solid black;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

.pink-1 {
    background-color: pink;
}

.green-1 {
    background-color: green;
}

.orange-1 {
    background-color: orange;
}

.gray-1 {
    background-color: gray;
}

.red-1 {
    background-color: red;
}

.yellow-1 {
    background-color: yellow;  
}

.purple-1 {
    background-color: purple; 
}

.blue-1 {
    background-color: blue; 
}

.black-1 {
    background-color: black;
}

* {box-sizing: border-box;}