.main-square {
    height: 304px;
    width: 304px;
    border: 2px solid silver;
    font-size: 0;
}

.square {
    height: 100px;
    width: 100px;
    position: relative;
    display: inline-block;
    border: 2px solid silver;
    padding: 10px;
}

.red {
    background-color: red;
}

.yellow {
    background-color: yellow;
}

.purple {
    background-color: purple;
}

.blue {
    background-color: blue;
}

.black {
    background-color: black;
}

.gray {
    background-color: gray;
}

.green {
    background-color: green;
}

.orange {
    background-color: orange;
}

.pink {
    background-color: pink;
}

.circle {
    width: 45px;
    height: 45px;
    border: 2px solid black;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}
* {box-sizing: border-box;}